name: News Scraper

on:
  schedule:
    - cron: '0 0-10,22-23 * * *'
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: コードを取得
        uses: actions/checkout@v3

      - name: Pythonをセットアップ
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: ライブラリをインストール
        run: |
          pip install -r requirements.txt

      - name: ロボット起動！
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_SERVICE_ROLE_KEY }}
          PORTAL_ID: ${{ secrets.PORTAL_ID }}             
          PORTAL_PASSWORD: ${{ secrets.PORTAL_PASSWORD }} 
          PORTAL_COOKIE: ${{ secrets.PORTAL_COOKIE }}
        run: python main.py